<div class="row">  
  <nav  class="navbar  navbar-light bg-light rounded w-100" >
    <div class="col-lg-3 col-12 ">
        <h4 > {{ 'reservations.details' | translate }}</h4>
    </div>
    <div id="loremipsum" class="col-lg-6 col-12"> 
      <p> {{ 'reservations.loremipsum' | translate }}</p>
    </div>
    <div class="col-lg-3 col-12">
      <form class="form-inline mt-2 mt-md-0">      
          <button id="createbtn" class="btn btn-dark btn-lg btn-block" type="submit"  routerLink="/reservations/list">{{ 'reservations.list' | translate }}</button>
      </form>
  </div>
    </nav>
  
  </div>  
    <main role="main" >
      <div class="row">
      <div class="jumbotron col-12">
        <div class="row">
          <div class="col-lg-6 col-xs-12 col-md-12">
           

        </div>
        </div>
        <div class="row">
         
        
          
         


        </div>         
      </div>
  </div>
    </main>
  
