<div class="row">  
    <nav  class="navbar  navbar-light bg-light rounded w-100" >
      <div class="col-lg-6 col-12 ">
          <h4 > {{ 'contacts.list' | translate }}</h4>
      </div>
      <div class="col-lg-3 col-12"> 
        <form class="form-inline mt-2 mt-md-0">      
          <button id="createbtn" class="btn btn-dark btn-lg btn-block" type="submit" routerLink="/reservations/list">{{ 'reservations.list' | translate }}  </button>
      </form>
      </div>
      <div class="col-lg-3 col-12">
        <form class="form-inline mt-2 mt-md-0">      
            <button id="createbtn" class="btn btn-dark btn-lg btn-block" type="submit" routerLink="/contacts">{{ 'contacts.create' | translate }}  </button>
        </form>
    </div>
      </nav>
    
    </div>  
      <main role="main" >
        <div class="row">
        <div class="jumbotron col-12">
          <div class="row">
            <div class="col-lg-6 col-xs-12 col-md-12">
              <div id="selectorder">       
              <select  class="browser-default custom-select" [(ngModel)]="selectedOrder" (change)="updateOrder()" >
              <option value ="-1" disabled  selected>{{ 'general.sortBy' | translate }}</option>
              <option value="0">{{ 'contacts.dateAsc' | translate }}</option>
              <option value="1">{{ 'contacts.dateDes' | translate }}</option>
              <option value="2">{{ 'contacts.alphabeticAsc' | translate }}</option>
              <option value="3">{{ 'contacts.alphabeticDesc' | translate }}</option>             
            </select>
          </div>
  
          </div>
          </div>
          <div class="row">
            <div *ngIf="emptyList" class="w-100 p-t-10 m-t-10">
              <p  class="text-center" > {{ 'general.notdata' | translate }}</p>
            </div>
            <div class="col-12">
            <table class="table table-hover p-t-10" *ngIf="!emptyList">           
              <tbody>
                <tr *ngFor="let cont of contacts.list">
                  <td>
                    <div>
                      <div id="contactPicture" class="float-left">                   
                      <span><img src="../../../assets/contacticon.png"></span>   
                      </div>    
                      <div id="resData"  class="float-left">  
                       <div class="row">                   
                        <span class="w-100 font-weight-bold"> {{cont.name}}</span>
                       </div> 
                       <div class="row">                   
                        <small>{{cont.birthDate | date:'medium'}}</small>
                       </div>   
                      </div>  
                    </div>
                  </td>                
                  <td id="favoritesLabel">
                    <div >
                    <div class="float-left">
                    <span  class="p-r-10">{{ 'general.addfavorites' | translate }}</span>
                   </div>
                   <div>                  
                    <span *ngIf="cont.contactId % 2 === 0"><img src="../../../assets/favoritesred.png">   </span>            
                    <span *ngIf="cont.contactId % 2 !== 0"><img src="../../../assets/favoritesgray.png">   </span>               
                  </div>
                  </div>
                  </td>
                  <td> <button id="editbtn" class="btn btn-dark" type="submit" routerLink="/contacts/{{cont.contactId}}">{{ 'general.edit' | translate }}</button></td>
                  <td> <button id="deletebtn" class="btn btn-dark" type="submit" (click) ="showModalDelete(cont.contactId)" >{{ 'general.delete' | translate }}  </button></td>
                </tr>               
              </tbody>
            </table> 
          </div>  
          <div class="col-12">         
            <ngb-pagination *ngIf="!emptyList" [collectionSize]="contacts.count" [maxSize]="4"  aria-label="Default pagination" [(page)]="pageIndex" [pageSize]="pageSize" (pageChange)="getContacts()">
            </ngb-pagination>   
          </div>  
        </div>   
          
        </div>
    </div>
      </main>
    
  