@media screen and (min-width: 0px) and (max-width: 400px) { 
    #loremipsum { display: none; }   /* hide it elsewhere */
    #contactPicture { display: none; }  /* show it on small screens */ 
    #favoritesLabel { display: none; }  /* show it on small screens */
    #tdRanking { display: none; }  /* show it on small screens */  
  }
  
  @media screen and (min-width: 401px) and (max-width: 538px) { 
    #loremipsum { display: block; }  /* show it on small screens */
    #contactPicture { display: block; }  /* show it on small screens */
    #favoritesLabel { display: none; }  /* show it on small screens */
    #tdRanking { display: none; }  /* show it on small screens */  
    
  }
  
  @media screen and (min-width: 768px) and (max-width: 1024px) { 
    #loremipsum { display: block; }  /* show it on small screens */
    #contactPicture { display: block; }  /* show it on small screens */
    #favoritesLabel { display: block; }  /* show it on small screens */
    #tdRanking { display: block; }  /* show it on small screens */  
  }
  
  @media screen and (min-width: 1024px) and (max-width: 11440px) { 
    #loremipsum { display: block; }  /* show it on small screens */
    #contactPicture { display: block; }  /* show it on small screens */
    #favoritesLabel { display: block; }  /* show it on small screens */
    #tdRanking { display: block; }  /* show it on small screens */  
  }
  
  #selectorder{
  margin-bottom: 30px !important;
  padding-left: 0px !important;
  margin-left: 0px !important;
  }
  
  #contactPicture{  
    padding-top: 10px !important;
    margin-right: 5px !important;
    padding-right:5px !important;
  }
  
  #resData{  
    padding-top: 5px !important;
    margin-left: 5px !important;
    padding-left:5px !important;
  }
  
  ::ng-deep .page-item.active .page-link {
    z-index: 3;
    color:white !important;
    background-color: #23272b !important;
    border-color: #23272b !important;
  }
  
  
  