<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{ 'contacts.titleModelDelete' | translate }} </h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>{{'contacts.descriptionStrongModalDelete' | translate}}</strong></p>
    <p>{{ 'contacts.descriptionModalDelete' | translate }}
    <span class="text-danger">{{ 'contacts.descriptionSpanModalDelete' | translate }}</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
  </div>
