<div class="row">  
    <nav  class="navbar  navbar-light bg-light rounded w-100" >
      <div class="col-lg-4 col-12 ">
          <h4 > {{ 'contacts.create' | translate }}</h4>
      </div>
      <div id="loremipsum" class="col-lg-5 col-12"> 
        <p> {{ 'reservations.loremipsum' | translate }}</p>
      </div>
      <div class="col-lg-3 col-12">
        <form class="form-inline mt-2 mt-md-0">      
            <button id="listbtn" class="btn btn-dark btn-lg btn-block" type="submit"  routerLink="/contacts/list">{{ 'contacts.list' | translate }}</button>
        </form>
    </div>
      </nav>  
    </div>  
      <main role="main" >
        <form novalidate [formGroup]="contactsForm" (submit)="Submit()">
        <div class="row">
        <div class="jumbotron col-12 m-b-20" >
          <div class="row">
            <div id="divContactName" class="col-lg-3 col-xs-12 col-md-12 m-b-20">
             <input type="text" id="contactName"  formControlName="ContactName"    placeholder="{{ 'contacts.name' | translate }}">  
                      
            <div *ngIf="f.ContactName.invalid && (f.ContactName.dirty || f.ContactName.touched)"   class="alert alert-danger">       
              <div *ngIf="f.ContactName.errors.required">
                {{ 'general.required' | translate }}
              </div>              
           </div>      
  
          </div>
          <div id="divContacType" class="col-lg-3 col-xs-12 col-md-12 ">
            <select  class="browser-default custom-select"  formControlName="ContactType"  >
              <option value ="null" disabled  selected>{{ 'contacts.type' | translate }}</option>
              <option  *ngFor="let type of contactsTypes.list" [value] = "type.description" > {{type.description}}</option>            
            </select>
            <div *ngIf="f.ContactType.invalid && (f.ContactType.dirty || f.ContactType.touched)"   class="alert alert-danger">       
              <div *ngIf="f.ContactType.errors.required">
                {{ 'general.required' | translate }}
              </div>              
           </div>    
          </div>
          <div id ="devContactPhone" class="col-lg-3 col-xs-12 col-md-12">
            <input type="text"  id="contactphone"  formControlName="ContactPhone" placeholder="{{ 'contacts.phone' | translate }}">
            <div *ngIf="f.ContactPhone.invalid && (f.ContactPhone.dirty || f.ContactPhone.touched)"   class="alert alert-danger">       
              <div *ngIf="f.ContactPhone.errors.pattern">
                {{ 'general.pattern' | translate }}
              </div>  
              <div *ngIf="f.ContactPhone.errors.minlength">
                {{ 'contacts.phoneMinLength' | translate }}
              </div>  
              <div *ngIf="f.ContactPhone.errors.maxlength">
                {{ 'contacts.phoneMaxLength' | translate }}
              </div>            
           </div> 
          </div>
          <div id="devContactBirthDate" class="col-lg-3 col-xs-12 col-md-12 form-group">           
            <div class="input-group">
            <input class="form-control" placeholder="{{ 'contacts.birthDate' | translate }}"  name="dp"  formControlName="ContactbirthDate" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
          <div *ngIf="f.ContactbirthDate.invalid && (f.ContactPhone.dirty || f.ContactbirthDate.touched)"   class="alert alert-danger">       
            <div *ngIf="f.ContactbirthDate.errors.required">
              {{ 'general.required' | translate }}
            </div>          
            <div *ngIf="f.ContactbirthDate.errors.invalid">
              {{ 'general.invalidDate' | translate }}
            </div> 
         </div>  
          </div>
          </div>         
        
        <div id ="devCreateContBtn" class="row"> 
          <div class="col-12">      
          <button id="createResBtn" [disabled]="disableSave" class="btn btn-dark float-right" type="submit"  >{{ 'contacts.send' | translate }}</button>
          </div>
         
        </div>        
        </div>
    </div>
  </form>
      </main>
    
  