#contactphone, #contactName{    
    height: 37px !important;
    border: slategray;
    width: 100%; 
    border-radius: 5px;   
}
 #divContacType, #divContactName{
    padding-bottom: 10px !important ;
    margin-bottom: 10px !important;
}
#devContactBirthDate{    
    margin-bottom: 15px !important;
}
#contactphone {    
    margin-bottom: 20px !important;
}



 

