<div class="row">  
  <nav  class="navbar  navbar-light bg-light rounded w-100" >
    <div class="col-lg-6 col-12 ">
        <h4 > {{ 'reservations.list' | translate }}</h4>
    </div>
    <div  class="col-lg-3 col-12"> 
      <form class="form-inline mt-2 mt-md-0">      
        <button id="createbtn" class="btn btn-dark btn-lg btn-block" type="submit" routerLink="/contacts/list">{{ 'contacts.list' | translate }}  </button>
    </form>
    </div>
    <div class="col-lg-3 col-12">
      <form class="form-inline mt-2 mt-md-0">      
          <button id="createbtn" class="btn btn-dark btn-lg btn-block" type="submit" routerLink="/reservations">{{ 'reservations.create' | translate }}  </button>
      </form>
  </div>
    </nav>
  
  </div>  
    <main role="main" >
      <div class="row">
      <div class="jumbotron col-12">
        <div class="row">
          <div class="col-lg-6 col-xs-12 col-md-12">
            <div id="selectorder">       
            <select  class="browser-default custom-select" [(ngModel)]="selectedOrder" (change)="updateOrder()" >
            <option value ="-1" disabled  selected>{{ 'general.sortBy' | translate }}</option>
            <option value="0">{{ 'reservations.dateAsc' | translate }}</option>
            <option value="1">{{ 'reservations.dateDes' | translate }}</option>
            <option value="2">{{ 'reservations.alphabeticAsc' | translate }}</option>
            <option value="3">{{ 'reservations.alphabeticDesc' | translate }}</option>
            <option value="4">{{ 'reservations.rankingAsc' | translate }}</option>
            <option value="5">{{ 'reservations.rankingDesc' | translate }}</option>
          </select>
        </div>

        </div>
        </div>
        <div class="row">
          <div *ngIf="emptyList" class="w-100 p-t-10 m-t-10">
            <p  class="text-center" > {{ 'general.notdata' | translate }}</p>
          </div>
          <div class="col-12">
          <table class="table table-hover p-t-10" *ngIf="!emptyList">           
            <tbody>
              <tr *ngFor="let res of reservations.list">
                <td>
                  <div>
                    <div id="contactPicture" class="float-left">                   
                    <span><img src="../../../assets/contacticon.png"></span>   
                    </div>    
                    <div id="resData"  class="float-left">  
                     <div class="row">                   
                      <span class="w-100 font-weight-bold"> {{res.contact}}</span>
                     </div> 
                     <div class="row">                   
                      <small>{{res.date | date:'medium'}}</small>
                     </div>   
                    </div>  
                  </div>
                </td>
                <td id="tdRanking">
                  <div>
                    {{ 'reservations.ranking' | translate }}
                  </div>                                        
                  <ngb-rating [rate]="res.ranking"></ngb-rating>
                </td>
                <td>
                  <div >
                  <div class="float-left">
                  <span id="favoritesLabel" class="p-r-10">{{ 'general.addfavorites' | translate }}</span>
                 </div>
                 <div>                  
                  <span *ngIf="res.reservationId % 2 === 0"><img src="../../../assets/favoritesred.png">   </span>            
                  <span *ngIf="res.reservationId % 2 !== 0"><img src="../../../assets/favoritesgray.png">   </span>               
                </div>
                </div>
                </td>
                <td> <button id="editbtn" class="btn btn-dark" type="submit" routerLink="/reservations/{{res.reservationId}}">{{ 'general.edit' | translate }}</button></td>
              </tr>               
            </tbody>
          </table>  
        </div>  
        <div class="col-12">   
          <ngb-pagination *ngIf="!emptyList" [collectionSize]="reservations.count" [maxSize]="4" aria-label="Default pagination" [(page)]="pageIndex" [pageSize]="pageSize" (pageChange)="getReservations()">
          </ngb-pagination>
        </div>

        </div>         
      </div>
  </div>
    </main>
  
